[Desktop Entry]
Type=Application
Version=1.0
Name=Install DarkOS
GenericName=System Installer
Comment=Graphical system installer for DarkOS
TryExec=/usr/local/bin/darkos-installer
Exec=/usr/local/bin/darkos-installer
Icon=calamares
Terminal=false
Categories=System;
Keywords=installer;calamares;darkos;setup;
