[Desktop Entry]
Type=Application
Name=The Void
Comment=DarkOS default terminal (kitty)
Exec=/usr/local/bin/the-void.sh
Icon=kitty
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
