[Unit]
Description=Ensure network interfaces have IP addresses (DHCP fallback)
Conflicts=shutdown.target
After=systemd-udev-settle.service network-pre.target NetworkManager.service
Before=network.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ensure-network
TimeoutStartSec=50s
